{% extends 'base.html.twig' %}

{% block title %}Edit Epouvantard{% endblock %}

{% block body %}
    <h1>Edit Epouvantard</h1>

    {{ include('epouvantard/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_epouvantard_index') }}">back to list</a>

    {{ include('epouvantard/_delete_form.html.twig') }}
{% endblock %}
